.inputForm {
    position: relative;
}

.inputForm input {
    padding-right: 30px;
    border-radius: 5px;
    width: 50vw;
    height: 2em;
}

.nav-fill {
    position: relative;
}

.nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.1em;
    line-height: 1.8em;
    background-color: bisque;
    border-radius: 0 3px 3px 0;
}

.nav-right button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}